/* App.css */
/* CSS for TreeNode */
.TreeNode {
  padding: 5px;
  margin-left: 15px;
}

.TreeNode > .TreeNodeLabel {
  display: flex;
  align-items: center;
}

.TreeNode > .TreeNodeLabel > .TreeNodeName {
  margin-right: 10px;
}

.TreeNode > .TreeNodeLabel > .TreeNodeActions {
  display: flex;
}

.TreeNode > .TreeNodeLabel > .TreeNodeActions button {
  margin-right: 5px;
}

/* CSS for buttons */
.green {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}

.yellow {
  background-color: #FFC107;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}

.red {
  background-color: #F44336;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
}
.green-tree {
  color: green;
}

/* Add these styles to your App.css or create a separate CSS file */

.ContextMenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 120px;
  font-size: 14px;
}

.ContextMenuOption {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ContextMenuOption:hover {
  background-color: #443d3d;
  color: white;
}
